{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <!-- since the action is "" empty string, if you try to post the form to the same link, but the link does not accept the data, it is going to be an error -->
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <!-- fieldset is to group related elements in a form -->
        <!-- legend defines caption for the fieldset -->
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div>You only need to input one. Either "Search" or "URL".<br></div>
            <div class="form-group">
                <strong>{{ form.name.label(class="form-control-label") }}</strong>
                {% if form.name.errors %}
                {{ form.name(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.name.errors %}
                    <span> {{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.name(class="form-control form-control-lg") }}
                {% endif %} </div>
            <div class="form-group">
                <strong>{{ form.search.label(class="form-control-label") }}</strong>
                {% if form.search.errors %}
                {{ form.search(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.search.errors %}
                    <span> {{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.search(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                <strong>{{ form.url.label(class="form-control-label") }}</strong>
                {% if form.url.errors %}
                {{ form.url(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.url.errors %}
                    <span> {{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.url(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">

            {{ form.add(class="btn btn-outline-info") }}

        </div>
    </form>
</div>
{% endblock content %}